/* h1{
    color: red;
    font-size: 45px;
} */
/* đây là external, css được viết bên ngoài html */
/* #first-heading{
    color: red;
}
.second-heading{
    color: hotpink;
    font-size: 20px;
} */ /*đây là css selector*/
:root{
    --text-color: rgb(109, 219, 18);
}

h1#first-heading.heading{
    color: var(--text-color);
}
#first-heading.heading{
    color: rgb(248, 33, 33);
}
.heading{
    color: red;
}
h1{
    color: blue !important;
}
ol{
    color: gray; 
}
li{
    color: var(--text-color);
}